

.postitem {
    border-radius: .5rem;
    padding: 2rem;
    font-size: 1.2rem;
}

.postitem li {
    width: 100%;
    height: 100%;
}
.postitem a {
    color: var(--text1);
    text-decoration: none;
}
.postitem a:hover {
    color: var(--hover);
}
.postitem a p {
    padding: 1rem 0rem;
}
.postitem a time {
    padding: 1rem 0rem;
}

.postsgrid {
    list-style: none;
    padding: 2rem;
}