
.postsgrid {
    list-style: none;
    padding: 2rem;    
}

.item {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin: 3rem;
    transition: all .3s;
    font-size: 1rem;

}
.item:hover {
    cursor: pointer;
    transition: all .3s;
    background-color: var(--flavor3);
}
.photo {
    grid-column: 1 / 13;
    position: relative;
    overflow: hidden;
    height: 400px;
}
.photo img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text {
    grid-column: 13 / -1;
    color: var(--text2);
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
}