/* TOP TRACK component */
.toptrack {
  display: flex;
  border-bottom: 1.4px solid var(--white);
}

.toptrack:last-child {
  border-bottom: none;
}
.toptrack__title {
  font-weight: 300;
  color: var(--secondary);
}
.toptrack__artist {
  font-weight: 300;
  color: var(--tertiary);
}

/* NOW PLAYING component */

.nowplayingcomp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nowplayingcomp__text {
  text-align: left;
  padding: 0.9rem;
}

.nowplayingcomp__text .songtitle {
  font-weight: 300;
  color: var(--secondary);
}
.nowplayingcomp__text .songartist {
  font-weight: 300;
  color: var(--tertiary);
}

.notplaying {
  font-weight: 300;
  padding: 0.9rem;
}
