.blogpostcard {
  line-height: 10px;
  margin: 2rem 0rem;
}

.posttitle {
  font-family: "Arima Madurai", cursive;
  font-weight: 300;
}
.posttitle:hover {
  text-decoration: underline;
}

.postdate {
  font-weight: 200;
  color: var(--orange);
}

@media (max-width: 1100px) {
  .posttitle {
    font-size: 1.2rem;
  }
}
@media (max-width: 800px) {
  .posttitle {
    font-size: 1rem;
  }
  .postdesc {
    font-size: 0.6rem;
    line-height: 15px;
  }
  .postdate {
    font-size: 0.5rem;
  }
}
