.blogpostcard {
  margin: 2rem 0rem;
}

.posttitle {
  font-weight: 400;
  transition: all 0.3s ease;
  font-size: 1.2rem;
}
.posttitle:hover {
  transition: all 0.3s ease;
  color: var(--reddish);
}

.postdate {
  font-size: 1rem;
  color: var(--reddish);
}

@media (max-width: 800px) {
  .blogpostcard {
    line-height: 20px;
    padding: 0.3rem;
  }
}
