.blogpostcard {
  height: auto;
  padding: 1rem 2rem;
  border: 1px solid var(--white);
  margin: 0rem 1rem 1rem 0rem;
}

.posttitle {
  font-size: 1.3rem;
}
.postdate {
  color: var(--yellow);
}
.blogpostcard a {
  display: block;
}

@media (max-width: 800px) {
  .posttitle {
    font-size: 1rem;
  }
  .postdesc {
    font-size: 0.8rem;
  }
  .postdate {
    font-size: 0.8rem;
  }
}
