.container {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  position: relative;
  color: var(--flavor);
}

.topimage {
  grid-column: 1 / -1;
  height: 22vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerpath {
  text-shadow: 1px 1px var(--flavor5);
  transition: all 0.3s;
  font-size: 1.6rem;
  position: relative;
}
.headerpath::before {
  display: none;
  content: "";
  position: absolute;
  top: 80%;
  text-shadow: 0px 0px var(--flavor5);
  font-weight: 400;
  left: 100%;
  width: max-content;
  z-index: 999;
  color: var(--flavor5);
  border: 1px solid var(--flavor5);
  padding: 0.3rem;
  font-size: 0.7rem;
  transition: all 0.3s ease;
}
.headerpath:hover::before {
  content: "Where you are";
  display: flex;
  transition: all 0.3s ease;
}
.headerpath:hover {
  text-shadow: -1px -1px var(--flavor5);
  color: var(--flavor5);
  transition: all 0.3s;
}

.tmiabs {
  position: relative;
}
.tmiabs:hover::before {
  content: "Too Much Information";
  position: absolute;
  top: 100%;
  left: 90%;
  color: var(--flavor5);
  font-size: 0.7rem;
  padding: 0.7rem;
  border: 1px solid var(--flavor5);
  width: max-content;
  z-index: 999;
}

.navbar {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.navbarlist {
  list-style: none;
  display: flex;
}
.navbarlist li {
  transition: all 0.3s ease;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  text-align: left;
}
.navbarlist li a {
  width: 100%;
  margin: 0.5rem;
  text-shadow: 0.5px 0.5px var(--flavor5);
  transition: all 0.3s;
  font-size: 1.2rem;
  overflow: hidden;
  text-transform: uppercase;
  font-weight: 600;
}
.navbarlist li a:hover {
  color: var(--flavor5);
  transition: all 0.3s ease;
  text-shadow: -1px -1px var(--flavor5);
}

.hamburgermenu {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 9999;
}
.hamburgerline {
  width: 3rem;
  height: 4px;
  background: var(--flavor);
  margin: 0.5rem;
}

.mobilemenu {
  position: fixed;
  font-family: "Arima Madurai", cursive;
  top: 0;
  z-index: 999;
  background: var(--flavor2);
  width: 100%;
  text-transform: uppercase;
}
.main {
  grid-column: 1 / -1;
}

.footer {
  grid-column: 1 / -1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 6rem;
  font-family: "Arima Madurai", cursive;
}
.footer a:hover {
  text-decoration: underline;
}

.footer ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer ul li {
  color: var(--yellow);
  margin: 0.9rem;
}
@media (max-width: 1100px) {
  .main {
    grid-column: 1/ -1;
  }
  .navbarlist {
    flex-direction: column;
    align-items: center;
    height: 100vh;
  }
}
@media (max-width: 600px) {
  .hamburgerline {
    width: 2rem;
    height: 2.5px;
    margin: 0.3rem;
  }
  .footer ul {
    flex-direction: column;
  }
}
