.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    "main sidebar"
    "footer footer";
}

.sidebar {
  grid-area: sidebar;
  background: var(--black-darker);
  position: relative;
  color: var(--white);
  padding: 2rem;
}

.sidebartitle {
  line-height: 8px;
}
.sidebartitle h1 {
  font-size: 3rem;
}
.sidebartitle p {
  color: var(--orange);
}
.sidebarwrapper {
  position: fixed;
}

.navbarlist {
  list-style: none;
  display: flex;
  padding: 0rem;
  font-weight: 300;
  margin-top: 3rem;
}
.navbarlist li {
  margin-right: 2rem;
}
.navbarlist li:last-child {
  margin-right: 0rem;
}
.navbarlist li a {
  transition: all 0.3s ease;
}
.navbarlist li a:hover {
  cursor: pointer;
  color: var(--orange);
  transition: all 0.3s ease;
}

.main {
  grid-area: main;
  background: var(--white);
  color: var(--black);
  min-height: 90vh;
}

.footer {
  display: grid;
  grid-area: footer;
  font-weight: 200;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "left right";
}
.footerleft {
  background: var(--white);
  grid-area: left;
  height: 15vh;
  color: var(--black-darker);
}

.footerright {
  list-style: none;
  padding: 2rem;
  grid-area: right;
  margin: 0rem;
  grid-column: 2 / -1;
  background: var(--black-darker);
  color: var(--white);
  display: flex;
}
.footerright li {
  margin-right: 1rem;
}
.footerright li a:hover {
  text-decoration: underline;
}
