

.graphcon {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    grid-column: 1 / -1;
    z-index: 999;
    background-color: var(--back1);
    padding-bottom: 2rem;

}
.graphcon__graph {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 3rem;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .graphcon{
        display: none;
    }
}
