.graphcon {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column: 1 / -1;
  padding-bottom: 2rem;
}
.graphcon__graph {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 3rem;
  font-size: 1rem;
}
