.project {
  justify-self: center;
  margin: 1rem;
  padding: 1rem;
  transition: all 0.5s ease;
  border: 2px solid transparent;
  height: 15rem;
  width: 80%;
}
.project:hover {
  transition: all 0.5s ease;
  cursor: pointer;
}
.project:last-child {
  border-bottom: none;
}
.title {
  font-size: 1.2rem;
  font-weight: 600;
}
.desc {
  font-size: 1rem;
}

.link {
  display: flex;
  margin-top: 1rem;
  font-size: 0.9rem;
}
.link a {
  margin-right: 2rem;
}
.link a:hover {
  color: var(--flavor3);
  cursor: pointer;
}
.tech__item {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0.8rem;
  padding: 0.7rem;
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 800px) {
  .project {
    width: 98%;
  }
  .title {
    font-size: 1rem;
  }
  .desc {
    font-size: 0.8rem;
  }
  .link {
    font-size: 0.7rem;
  }
}
