.project {
  width: 100%;
  height: auto;
  justify-self: center;
  margin: 1.5rem;
  padding: 1rem;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: var(--white);
  border: 1px solid var(--black);
  transition: all 0.5s ease;
}

.title {
  color: var(--projects);
}

.project:hover {
  transform: translate(0%, -2%);
  cursor: pointer;
}
.desc {
  font-size: 0.9rem;
}
.tech {
  display: flex;
  flex-wrap: wrap;
}
.link {
  display: flex;
  margin-top: 1rem;
  font-size: 0.8rem;
}
.link a {
  margin-right: 2rem;
}
.link a:hover {
  color: var(--projects);
  cursor: pointer;
}
.tech__item {
  position: relative;
  width: 20px;
  height: 20px;
  margin: 0.8rem;
  padding: 0.7rem;
}

@media only screen and (max-width: 1100px) {
}

@media only screen and (max-width: 800px) {
}
