.project {
  border: 1px solid var(--orange);
  padding: 2rem;
  margin: 2rem 0rem;
}

.title p {
  font-size: 2rem;
}
.link {
  display: flex;
}

.link a {
  margin: 0rem 2rem;
  color: var(--orange);
}

.link a:hover {
  color: var(--orange-burnt);
}

.link a:first-child {
  margin: 0rem 2rem 0rem 0rem;
}
