.spotifycomp {
  display: grid;
  grid-template-rows: 10vh auto auto;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
    ". title ."
    ". toptracks ."
    ". nowplaying .";
}
.spotifycomp h2 {
  grid-area: title;
  font-weight: 400;
}
.spotifycomp__toptracks {
  grid-area: toptracks;
}
.spotifycomp__nowplaying {
  grid-area: nowplaying;
}

/* TOP TRACK component */
.toptrack {
  padding: 0.7rem;
  line-height: 12px;
  display: flex;
  align-items: center;
}
.toptrack:last-child {
  border-bottom: none;
}
.toptrack__title {
  font-weight: 300;
}
.toptrack__artist {
  font-weight: 300;
  color: var(--orange);
}

/* NOW PLAYING component */

.nowplayingcomp {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3rem 0rem;
}

.nowplayingcomp__text {
  text-align: left;
  padding: 0.9rem;
  line-height: 9px;
}

.nowplayingcomp__spotifylogo {
  padding: 0.5rem;
}

.nowplayingcomp__text .songtitle {
  font-weight: 300;
}
.nowplayingcomp__text .songartist {
  font-weight: 300;
  color: var(--orange);
}

.notplaying {
  font-weight: 300;
  padding: 0.9rem;
}
