.spotify {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 1.2rem;
  margin: 2rem;
  width: 40%;
}
.spotify h2 {
  grid-column: 1/ -1;
  justify-self: center;
}
.spotify__toptracks {
  grid-column: 1 / -1;
  justify-self: center;
  width: 100%;
}

.spotify__nowplaying {
  grid-column: 1 / -1;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  font-size: 0.9rem;
}

.nowplaying__text a {
  font-weight: 600;
}
.toptrack {
  font-size: 0.9rem;
  border-bottom: 2px solid var(--secondary);
  padding: 2rem;
}
.toptrack__title {
  font-size: 1.4rem;
  font-weight: 600;
  color: var(--secondary);
}
.toptrack__artist {
  margin-right: 1rem;
  font-size: 1rem;
  color: var(--tertiary);
}

@media screen and (max-width: 1100px) {
  .spotify__toptracks {
    width: 90%;
  }
}
