.spotify {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 1.2rem;
  margin: 2rem;
  width: 40%;
}
.spotify h2 {
  grid-column: 1/ -1;
  justify-self: center;
}
.spotify__toptracks {
  grid-column: 1 / -1;
  justify-self: center;
  width: 100%;
}

.spotify__nowplaying {
  grid-column: 1 / -1;
  justify-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem;
  font-size: 0.9rem;
}

.nowplaying__text a {
  font-weight: 500;
}
.toptrack {
  color: var(--black);
  background: var(--white);
  margin: 1rem;
  border: 1px solid var(--black);
  transition: all 0.5s ease;
}
.toptrack a {
  display: inline-block;
  padding: 2rem;
  width: 100%;
}
.toptrack:hover {
  transform: translate(0%, -3%);
}
.toptrack__title {
  font-weight: 600;
}
.toptrack__artist {
  margin-right: 1rem;
  color: var(--tmi);
}

@media screen and (max-width: 1100px) {
  .spotify__toptracks {
    width: 90%;
  }
}
