

.projects {
    align-items: center;
    color: var(--flavor);
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}

.projects__title {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    padding: 2rem;
}
.projects__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project {
    display: grid;
    font-size: .9rem;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 2rem;
    width: 100%;
    transition: all .2s;

}
.project:hover {
    transition: all .2s;
    color: var(--hover);
}
.project__title {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.project__text {
    grid-column: 2 / 6;
    text-align: start;
}
.project__img {
    align-self: center;
    grid-column: 6 / 13;
}
.project__tech {
    grid-column: 2 / 12;
    padding: 1.5rem;
    display: flex;
}
.project__tech > * {
    padding: .5rem;
}
.project:hover {
    cursor: pointer;
    transition: all .2s;
}

/* MOBILE */
@media screen and (max-width: 768px) {
    .project__text{
        grid-column: 1 / -1;
        padding: 1.2rem;
    }
    .project__title{
        grid-column: 1 / -1;
    }
    .project__img {
        grid-column: 1 / -1;
    }
}