

.filters {
    width: 90%;
    margin-bottom: 3rem;
}
.filters button {
    background: none;
    color: var(--text);
    padding: .5rem;
    width: 5rem;
    margin-right: 1rem;
    transition: all .3s;
    outline:none;
    border: none;

}
.filters button:last-child {
    margin-right: 0rem;
}
.filters button:hover {
    background-color: var(--hover);
    cursor: pointer;
    transition: all .3s;
}


.projects {
    align-items: center;
    background: var(--flavor);
    color: var(--text);
    display: flex;
    grid-column: 1 / -1;
    flex-direction: column;
    justify-content: center;
    margin-top: 2rem;
    text-align: center;
}
.projects__title {
    align-items: center;
    display: flex;
    font-size: 1.3rem;
    padding: 2rem;
}
.projects__projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.project {
    display: grid;
    font-size: .9rem;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 2rem;
    padding: 2rem;
    width: 100%;
    transition: all .2s;

}
.project:hover {
    transition: all .2s;
    color: var(--hover);
}
.project__title {
    font-size: 1.2rem;
    padding-bottom: 2rem;
}
.project__text {
    align-items: stretch;
    display: flex;
    flex-direction: column;
    grid-column: 2 / 6;
    justify-content: center;
    padding: 1rem;
    text-align: start;
}
.project__img {
    align-self: center;
    grid-column: 6 / 13;
}
.project__tech {
    padding: 1.5rem;
    display: flex;
}
.project__tech > * {
    padding: .5rem;
}
.project:hover {
    cursor: pointer;
    transition: all .2s;
}