

.projects {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.projects__title {
    grid-column: 1 / -1;
    text-align: center;
    padding: 2rem;
    font-size: 1rem;
}
.projects__projects {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

