

.graphcon {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin-bottom: 3rem;
}
.graphcon__graph {
    grid-column: 5 / -1;
    margin-top: 3rem;
    font-size: 1rem;
}

@media screen and (max-width: 1024px) {
    .graphcon{
        display: none;
    }
}
