

.spotify {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.spotify__toptracks {
    grid-column: 3 / 14;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.spotify__toptracks__title{
    text-align: center;
    padding: 1.2rem;
    font-size: 1.1rem;
    color: #1db954;
    grid-column: 1 / -1;
}
.spotify__toptracks__toptracks{
    padding: 1rem;
    grid-column: 3 / -1;
}

.spotify__playlists {
    grid-column: 14 / 22;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.spotify__playlists__title{
    text-align: center;
    padding: 1.2rem;
    font-size: 1.1rem;
    color: #1db954;

    grid-column: 1 / -1;
}
.spotify__playlists__playlists{
    padding: 1rem;
    grid-column: 3 / -1;
}

.toptrack{
    padding: .6rem;
    font-size: .7rem;
    color: var(--text1);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.toptrack__img{
    margin-right: .5rem;
}
.toptrack a{
    color: #1db954;

}

 @media screen and (max-width: 1024px){
     .spotify__toptracks{
         grid-column: 1 / -1;
     }
     .spotify__playlists{
         grid-column: 1 / -1;
     }
 }