
.header {
    background-color: var(--flavor);
    color: var(--text1);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 9vh;
}

.header a {
    color: var(--text);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 2rem;
}
.header a:hover {
    color: var(--hover);
}