.lay {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}
.laymain {
    grid-column: 1 / -1;
    background-color: var(--back1);
}

@media (max-width: 850px) {
    .laymain {
        grid-column: 1 / -1;
    }
}