
.header {
    height: 9vh;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-size: 1rem;
}
.nav {
    height: 100%;
    grid-column: 1 / -1;
    display: flex;
    justify-content: start;
    align-items: center;
    transition: all .2s;
    margin-left: 5rem;
}
.nav > * {
    margin-right: 2rem;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .2s;

}
.nav > *:last-child {
    margin-right: 0rem;
}
.nav > *:hover {
    cursor: pointer;
    transition: all .2s;
    margin-top: .4rem;
}


.footer {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    transition: all .3s;

}
.footer:hover {
    transition: all .3s;
}

.socials {
    grid-column: 2 / 5;
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.socials__title {
    color: var(--main-bg-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.socials__links {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--main-bg-color);
    font-size: .6rem;
}

.socials__part {
    padding: 1rem;
}
.socials__part:hover {
    cursor: pointer;
}