@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #E2DCD1;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  max-width: 100%;
  width: 100%;
}

pre > code {
  display: grid;
  padding: 1rem;
}