@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    --color-primary: #EFF9EF;
    --color-primary-lighter: #F5F7F5;
    --color-secondary: #53C58C;
    --color-accent: #53C58C;
    --color-text: #234C38;
    --color-text-secondary: #7FAE97;
    --color-background: #FBFBF0;
  }
  @import "themes/beige.css";
  @import "themes/frost.css";
  @import "themes/harvest.css";
  @import "themes/nature.css";
  @import "themes/retro.css";
  @import "themes/urban.css";

}

body {
  background-color: var(--color-background);
}

.custom-mr > *:not(:last-child) {
  @apply mr-2;
}

pre {
  overflow-x: auto;
  padding: 1rem 0;
  max-width: 100%;
  width: 100%;
}

pre > code {
  display: grid;
  padding: 1rem;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #FF0000;
}