
.illustration {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-column: 1 / -1;
    padding: 1rem;
    margin-bottom: 2rem;
    color: var(--text1);
}

.title {
    grid-column: 1 / -1;
    text-align: center;
    font-size: 1.2rem;
}
.img {
    grid-column: 1 / -1;
}
.img img{
    display: block;
    max-width: 100%;
    padding: 2rem;
}