.tmi {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  color: var(--white);
}
.content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

@media screen and (max-width: 1100px) {
  .content {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 768px) {
}
