
.singlepost {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--text1);
}
.header {
    text-align: center;
    font-size: 1.6rem;
    margin-top: 2rem;
}

.content {
    font-size: 1.1rem;
    width: 70%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}