
.singlepost {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    color: var(--text2);
}
.header {
    grid-column: 1 / -1;
    padding: 3rem;
    font-size: 1.2rem;
    justify-self: center;
    text-align: center;
}

.content {
    grid-column: 4 / 20;
    font-size: 1.2rem;
}

.img {
    grid-column: 1 / -1;
}

.img img {
    display: block;
    max-width: 100%;
}

@media screen and (max-width: 1024px){

    .headertitle h1 {
        font-size: 1.5rem;
    }
    .header {
        font-size: 1rem;
        padding: 2rem 0rem;
    }

    .content {
        font-size: 1.2rem;
        grid-column: 1 / -1;
        padding: .7rem;
    }
}