.lay {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.headerhe {
  grid-column: 23 /-1;
  position: relative;
}
.routes {
  position: fixed;
}
.routes li {
  padding: 0.8rem;
  transition: all 0.5s ease;
  border-radius: 10%;
}
.routes li:hover {
  transition: all 0.5s ease;
  cursor: pointer;
  background: var(--green);
}

.laymain {
  grid-column: 1 / 23;
}

.layfoot {
  grid-column: 1 / 23;
  justify-self: center;
}
