.lay {
  display: grid;
  grid-template-columns: repeat(36, 1fr);
}

.layhead {
  grid-column: 1 / -1;
  background-color: var(--back1);
  color: var(--text1);
  height: 18vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 6px solid var(--flavor2);
}
.header {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.2rem;
}
.header__logo {
  color: var(--text1);
}
.header__logo:hover {
  cursor: pointer;
}
.header__nav a {
  margin-right: 2rem;
  background: linear-gradient(var(--flavor2) 0 0) 0 100% / var(--d, 0) 3px
    no-repeat;
  transition: all 0.5s;
}
.header__nav a:last-child {
  margin-right: 0rem;
}
.header__nav a:hover {
  --d: 100%;
  transition: all 0.5s;
}

.laymain {
  grid-column: 2 / 36;
  background-color: var(--back1);
}

.layfoot {
  grid-column: 1 / -1;
  background-color: var(--back1);
  color: var(--text1);
  height: 15vh;
  text-align: center;
  font-size: 1.2rem;
  align-self: center;
  padding-top: 2rem;
}

.burger {
  position: relative;
}
.burger__menu {
  position: absolute;
  top: 60px;
  transform: translate(-45%);
  background-color: var(--back1);
  z-index: 9999;
  width: 110vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.burger__menu__nav {
  font-size: 1.5rem;
  text-align: center;
}
.burger__menu__nav__item {
  padding: 1.8rem 0rem;
}

.icon {
  position: relative;
  width: 45px;
  height: 45px;
}
.icon:hover {
  cursor: pointer;
}
