.lay {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.headerhead {
  grid-column: 22 /24;
}
.routes li {
  padding: 1rem;
  margin: 0.5rem;
  transition: all 0.5s ease;
  border-radius: 10%;
  width: 23px;
  height: 23px;
  border: 2px solid white;
}
.routes li:hover {
  transition: all 0.5s ease;
  cursor: pointer;
  background: var(--green);
}

.laymain {
  grid-column: 1 / 23;
}

.layfoot {
  grid-column: 1 / 23;
  justify-self: center;
}
