
.blog__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    grid-column: 1 / -1;
}

.posts {
    grid-column: 1 / 8;
}
