
.blog__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.posts {
    grid-column: 1 / 8;
}
