
.blog__grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.hero{
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    grid-column: 1 / -1;
}

.posts {
    grid-column: 1 / 8;
}

.info{
    grid-column: 8 / -1;
    background-color: var(--main-bg-color);
}