

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.hero__img {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 3rem;
}

.hero__text {
    grid-column: 2 / 5;
    margin-top: 3rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}
.hero__text__name {
    font-size: 1.2rem;
    margin-bottom: 3rem;
}
.hero__text__nav a {
    color: var(--text1);
}
.hero__text__nav a:hover {
    color: var(--flavor);
}

@media (max-width: 1000px) {
    .hero{
        display: none;
    }
}
