

.hero {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    margin-bottom: 3rem;
}
.hero__graph {
    grid-column: 1 / -1;
    justify-self: center;
    margin-top: 3rem;
    font-size: 1rem;
}

@media (max-width: 1000px) {
    .hero{
        display: none;
    }
}
