
.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.home__blog {
    grid-column: 1 / 8;
    padding: 2rem;
    transition: all .3s;

}
.home__blog:hover {
    transition: all .3s;
}
.home__ill {
    grid-column: 8 / -1;
    color: var(--persian-indigo);
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 2rem;
    transition: all .3s;

}
.home__ill:hover {
    transition: all .3s;
}



.home__projects {
    grid-column: 1 / -1;
    height: 90vh;
    transition: all .3s;
    margin-bottom: 2rem;

}
.home__projects:hover {
    transition: all .3s;
}

@media screen and (max-width: 800px) {
    .home__blog {
        grid-column: 1 / -1;
    }    
    .home__ill {
        grid-column: 1 / -1;
    }
}