
.home {
    background-color: var(--flavor);
    height: 100vh;
    width: 100%;
    color: var(--white);
    padding: 5rem;
}

.home ul {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    font-size: 3rem;
}
.home ul span:hover {
    cursor: pointer;
    color: var(--red);
}
.links {
    padding: 2rem;
}