
.home {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}
.home__blog {
    grid-column: 1 / 8;
    padding: 2rem;
}
.home__ill {
    grid-column: 8 / -1;
    background-color: var(--persian-indigo);
}

.home__about {
    grid-column: 1 / -1;
    background-color: var(--skyblue-crayola);
    height: 90vh;
}

.home__projects {
    grid-column: 1 / -1;
    background-color: var(--main-bg-color);
    height: 90vh;
}