.home {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    min-height: 100vh;
}


.hero {
    grid-column: 1 / -1;
}

.content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

.featuredposts {
    grid-column: 1 / 12;
}

/* @media (max-width: 1150px) {
    .featuredposts {
        grid-column: 1 / -1;
    }
    .littlethings {
        grid-column: 1 / -1;
    }
} */

.graph {
    grid-column: 1 / -1;
    justify-self: center;
    font-size: .8rem;
}

@media (max-width: 1250px) {
    .graph {
        display: none;
    }
}