

.spotify {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.spotify__toptracks {
    grid-column: 1 / 11;
}
.spotify__toptracks__title{
    text-align: center;
    padding: 1.2rem;
    font-size: 1.1rem;
}
.spotify__toptracks__toptracks{
    padding: 1rem;
}

.toptrack{
    padding: .6rem;
    font-size: .7rem;
}
.toptrack a{
    color: var(--flavor2);
}