.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: var(--text1);
}

.hakk {
    grid-column: 3 / 11;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-around;
    background-color: var(--blackoverblack);
}
.hakk__prof{
    display: flex;
    justify-content: center;
}
.hakk__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    font-size: 1.3rem;
}
.hakk__text > * {
    margin-bottom: 3rem;
}
.hakk__text >*:last-child{
    margin-bottom: 0rem;
}

.hakk__text__icons a{
    padding: .5rem;
}

.aboutstack {
    margin-top: 2rem;
    grid-column: 2 / 12;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutstack h2 {
    margin-top: 2rem;
}


.aboutstack__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tech {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.really {
    margin-top: 3rem;
    font-size: 1.1rem;
    grid-column: 3 / 11;
}
.reallytext {
    padding: 1rem;
}



@media screen and (max-width: 768px) {
    .hakk {
        display: flex;
        flex-direction: column;
        grid-column: 1 / -1;
        text-align: center;
    }
    .hakk__prof {
        border-bottom: 4px solid black;
        border-right: 4px solid black;
    }

    .aboutstack{
        grid-column: 1 / -1;
        padding: 2rem;
        text-align: center;
    }
    .really{
        grid-column: 1 / -1;
        padding: 1.2rem;
    }
}