.about {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  color: var(--text1);
}

.content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  margin-top: 4rem;
  margin-bottom: 5rem;
  font-size: 1.5rem;
}

.hero {
  grid-column: 1 / -1;
  display: flex;
  justify-self: center;
  font-weight: 700;
}
.hero__text {
  font-size: 2.5rem;
  padding: 2rem;
}
.hero__links {
  padding: 2rem;
  font-size: 1.5rem;
}
.hero__links a {
  margin: 1rem;
  font-weight: 300;
}
.hero__links a:hover {
  color: var(--flavor3);
}
#role {
  color: var(--flavor3);
}

.ttle {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 5rem;
}

.icons {
  grid-column: 1 / -1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 3rem;
  flex-wrap: wrap;
}

.icon {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 1rem;
  transition: all 0.9s;
}
.icon:hover {
  cursor: pointer;
}

.removefilter {
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 1.2rem;
  margin: 0.9rem;
  position: relative;
  transition: all 0.9;
}
.removefilter:hover {
  cursor: pointer;
}

.projects {
  grid-column: 1 / -1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
@media only screen and (max-width: 900px) {
  .hero {
    flex-direction: column;
  }
  .hero__prof {
    display: flex;
    justify-content: center;
  }
}
/* 
.tooltip {
  position: relative;
  transition: all 0.4s;
  padding: 1rem;
}
.tooltip:hover::before {
  position: absolute;
  top: -60px;
  left: 50%;
  font-size: 1rem;
  white-space: nowrap;
  padding: 1rem;
  transform: translate(-50%, 0%);
  background-color: var(--flavor3);
  transition: all 0.4s;
}
#reacttool:hover::before {
  content: "React";
}
#mongodbtool:hover::before {
  content: "MongoDB";
}
#nextjstool:hover::before {
  content: "NextJS";
}
#postgrestool:hover::before {
  content: "PostgreSQL";
}
#sasstool:hover::before {
  content: "Sass";
}
#jstool:hover::before {
  content: "Javascript";
}
#reacttool:hover::before {
  content: "React";
}
#nextjstool:hover::before {
  content: "NextJS";
}
#nodejstool:hover::before {
  content: "NodeJS";
}
#mongodbtool:hover::before {
  content: "MongoDB";
}
#gittool:hover::before {
  content: "Git";
}
#linuxtool:hover::before {
  content: "Linux";
}
#typetool:hover::before {
  content: "Typescript";
}
#awstool:hover::before {
  content: "Amazon Web Services";
}
#phptool:hover::before {
  content: "PHP";
}
#graphtool:hover::before {
  content: "GraphQL";
}
 */
