.about {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    color: var(--text2);
}


.aboutstack {
    margin-top: 2rem;
    grid-column: 2 / 12;
    font-size: .9rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.aboutstack h2 {
    margin-top: 2rem;
}


.aboutstack__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.tech {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.really {
    margin-top: 3rem;
    font-size: 1.1rem;
    grid-column: 3 / 11;
}
.reallytext {
    padding: 1rem;
}

.hakk {
    grid-column: 3 / 10;
    display: flex;
    align-items: center;
    padding: 3rem;
    justify-content: space-around;
}
.hakk__prof{
    display: flex;
    justify-content: center;
}
.hakk__text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    font-size: .95rem;
}
.hakk__text > * {
    margin-bottom: 3rem;
}
.hakk__text >*:last-child{
    margin-bottom: 0rem;
}

@media screen and (max-width: 800px) {
    .data__title {
        display: none;
    }
    .data__chart {
        display: none;
    }
}