.blog {
  min-height: 90vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  color: var(--black);
}

.all {
  grid-column: 1 / -1;
  justify-self: center;
  margin-top: 2rem;
  font-weight: 700;
  color: var(--white);
}
.posts {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  grid-column: 2 / 11;
  margin: 2rem;
}
.post {
  min-height: 40vh;
  min-width: 300px;
  max-width: 450px;
  max-height: 350px;
  padding: 0rem 2rem;
  margin: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background: var(--white);
  transition: all 0.5s ease;
  border: 1px solid var(--black);
}

.post:hover {
  cursor: pointer;
  transform: translate(0%, -2%);
}

#date {
  padding: 0.7rem;
  background: var(--primary);
  max-width: 8rem;
}
