.blog {
  min-height: 90vh;
  color: var(--text1);
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}
.filters {
  padding: 2rem;
  grid-column: 1 / -1;
  justify-self: center;
  font-size: 1rem;
}

.posts {
  list-style: none;
  grid-column: 1 / -1;
  margin-top: 4rem;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}
.post {
  min-height: 200px;
  max-width: 300px;
  color: white;
  padding: 1rem;
  transition: all 0.3s ease;
  border: 3px solid var(--flavor4);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0.5rem;
  font-size: 1rem;
}
