.post {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    color: var(--text1);
}

.content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin-top: 4rem;
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: 300;
}
.header{
    grid-column: 1 / -1;
    z-index: 999;
    padding: 3rem;
}
.main{
    grid-column: 4 / 22;
    z-index: 999;
    padding: 8rem;
}
.main__head{
    text-align: center;
}

@media only screen and (max-width: 900px){
    .main{
        font-size: 1.2rem;
        padding: 3rem;
    }
}