.post {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  margin-top: 4rem;
  color: var(--text1);
  font-family: "Ubuntu", sans-serif;
}

.header {
  grid-column: 1 /-1;
}
.header__img {
  height: 80vh;
  position: relative;
}
.header__text {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

.main {
  grid-column: 4 / 23;
  font-size: 1.6rem;
  justify-self: center;
  width: 80%;
  margin-top: 2rem;
  font-weight: 300;
  line-height: 2.5rem;
}

.back {
  margin: 5rem 0 0 2rem;
}
