.illustrations {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}

.ills {
  grid-column: 1 / -1;
  display: grid;
  justify-self: center;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
}
.ill {
  position: relative;
  width: 512px;
  height: 512px;
  padding: 1rem;
}
@media screen and (max-width: 1100px) {
  .ills {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 768px) {
}
