.illustrations {
    display: grid;
    grid-template-columns: repeat(24, 1fr);
}

.content {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: repeat(24, 1fr);
    margin-top: 4rem;
}

.ills{
    grid-column: 5 / 21;
}