.blog {
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
    ". . ."
    ". posts .";
}
.blogposthome {
  grid-area: posts;
}
.blogposthome ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  padding: 0;
}

/* POST LAYOUT STYLES */

.bloglayout {
  display: grid;
  grid-template-rows: 10vh auto auto 10vh 10vh;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
    ". . ."
    ". header ."
    ". content ."
    ". . ."
    ". back .";
}

.blogpostheader {
  grid-area: header;
}
.blogcontent {
  grid-area: content;
}
.goback {
  grid-area: back;
}
