.blog {
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-columns: 8vw auto 8vw;
  grid-template-areas:
    ". . ."
    ". posts .";
}
.blogposthome {
  grid-area: posts;
  justify-self: center;
}

.blogposthome ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

/* POST LAYOUT STYLES */

.bloglayout {
  display: grid;
  grid-template-rows: 10vh auto auto 10vh 10vh;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    ". . ."
    ". header ."
    ". content ."
    ". . ."
    ". back .";
  font-size: 1.2rem;
}

.blogpostheader {
  grid-area: header;
}
.blogcontent {
  grid-area: content;
  overflow: auto;
}
.goback {
  grid-area: back;
}

@media (max-width: 800px) {
  .bloglayout {
    grid-template-columns: 1fr 16fr 1fr;
    font-size: 1rem;
  }
}
