.blog {
  display: grid;
  grid-template-columns: auto 50vw auto;
  grid-template-rows: 10vh auto;
  grid-template-areas:
    ". . ."
    ". bloglist .";
  background: var(--primary);
  color: var(--secondary);
  min-height: 80vh;
}
.blogposthome {
  grid-area: bloglist;
  justify-self: center;
}

.colorfulheader {
  font-size: 1.3rem;
}

.blogposthome ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 0;
}

/* POST LAYOUT STYLES */

.bloglayout {
  display: grid;
  grid-template-rows: 10vh auto auto 10vh 10vh;
  grid-template-columns: auto 50vw auto;
  grid-template-areas:
    ". . ."
    ". header ."
    ". content ."
    ". . ."
    ". back .";
  font-size: 1.2rem;
  font-weight: 300;
  background: var(--primary);
  color: var(--secondary);
}

.blogpostheader {
  grid-area: header;
}
.blogcontent {
  grid-area: content;
  overflow: auto;
  line-height: 35px;
}
.goback {
  grid-area: back;
}

@media (max-width: 800px) {
  .bloglayout {
    grid-template-columns: auto 80vw auto;
    font-size: 1rem;
  }
  .blogcontent {
    line-height: 30px;
  }
  .blog {
    grid-template-columns: auto 80vw auto;
  }
}
