@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

:root {
  /* Your default theme */
  --background: #1d0c35;
  --foreground: #fff5fd;

  --primary: #1d0c35;
  --yellow: #f4da95;
  --yellow-sec: #af7d20;
  --white: #fff5fd;
}

[data-theme="light"] {
  --background: #fff5fd;
  --foreground: #1d0c35;
}

::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--primary);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--yellow);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: var(--background);
  color: var(--white);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
