@import url("https://fonts.googleapis.com/css2?family=Philosopher:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=PT+Serif:wght@400;700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;900&display=swap");

:root {
  --one: #fff5fd;
  --two: #ff96ad;
  --three: #005a8d;
  --four: #022e57;
}

[data-theme="dark"] {
  --text1: #fff5fd;
  --text2: #ffe6cd;

  --back1: #100520;
  --back2: #3a3936;

  --flavor: #ff96ad;
  --flavor2: #005a8d;
  --flavor3: #022e57;

  --projectback: rgb(31, 28, 77);
}
[data-theme="light"] {
  --text1: #141414;
  --text2: #147077;

  --back1: #fff5fd;

  --flavor: #ff96ad;
  --flavor2: #005a8d;
  --flavor3: #022e57;

  --projectback: rgb(247, 242, 235);
}

::-webkit-scrollbar {
  display: none;
}

a {
  color: inherit;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Roboto Slab", serif;
  font-size: 62.5%;
  list-style: none;
  background-color: var(--four);
}

::-moz-selection {
  color: var(--flavor);
}
::selection {
  color: var(--flavor);
}
