@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');


:root {
    --text1: #30343F;

    --back1: #F8F0FB;
    
    --flavor: #A20021;
    --flavor2: #2F2D2E;

    --hover: #89023E;

}

::-webkit-scrollbar {
    display: none;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body {
    font-family: 'Montserrat', sans-serif;
    color: var(--text2);
    background-color: var(--flavor);
    font-size: 62.5%;
    list-style: none;
}