.hackerrank {
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-rows: 10vh auto auto;
  grid-template-areas:
    ". . ."
    ". text ."
    ". code .";
}

.hackerrank__title {
  grid-area: text;
}

.hackerrank__code {
  grid-area: code;
  -webkit-box-shadow: -1px 1px 35px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 35px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 35px -12px rgba(0, 0, 0, 0.75);
}

/* Page contains list of files */
.hackerranksols {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hackerranksols h1 {
  color: var(--orange-burnt);
  font-size: 1.3rem;
}

.hackerranksols__search {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hackerranksols__search input {
  background: var(--white);
  width: 80%;
  font-size: 1.4rem;
  text-align: center;
  height: 6vh;
  color: var(--orange-burnt);
  border: 1px solid var(--orange);
}
.hackerranksols ul {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 80%;
}

.hackerranksols ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 40%;
  border: 2px solid var(--orange-burnt);
  margin: 2rem;
  height: 12rem;
  padding: 1rem;
  transition: all 0.4s ease;
  border-right: 4px solid var(--orange);
  border-bottom: 4px solid var(--orange);
  color: var(--black);
  overflow: hidden;
}

.hackerranksols ul li:hover {
  cursor: pointer;
  background: var(--orange-burnt);
  color: var(--white);
  padding: 0.5rem;
  transition: all 0.4s ease;
  border: 6px solid var(--orange-burnt);
  border-right: 4px solid var(--black);
  border-bottom: 4px solid var(--black);
}

@media (max-width: 800px) {
  .hackerranksols h1 {
    font-size: 0.8rem;
  }
  .hackerranksols__search {
    width: 80%;
  }
  .hackerranksols input {
    height: 7vh;
  }
}
