/* Page contains list of files */
.hackerranksols {
  display: grid;
  grid-template-columns: auto 50vw auto;
  grid-template-rows: 10vh auto auto 20vh;
  grid-template-areas:
    ". title ."
    ". search ."
    ". files ."
    ". . .";
  min-height: 80vh;
}

.hackerranksols h1 {
  justify-self: center;
  color: var(--reddish);
  font-size: 1.3rem;
  grid-area: title;
}

.hackerranksols__search {
  grid-area: search;
}
.hackerranksols__search input {
  background: var(--white);
  font-size: 1.4rem;
  text-align: center;
  height: 6vh;
  border: 1px solid black;
  color: var(--reddish);
  width: 100%;
}

.hackerranksols ul {
  grid-area: files;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.hackerranksols ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  transition: all 0.3s ease;
  color: var(--black);
  overflow: hidden;
}

.hackerranksols ul li::after {
  content: "";
}

.hackerranksols ul li:hover {
  cursor: pointer;
  color: var(--reddish);
}

.hackerrank {
  display: grid;
  grid-template-columns: auto 50vw auto;
  grid-template-rows: 10vh auto auto;
  grid-template-areas:
    ". . ."
    ". text ."
    ". code .";
}

.hackerrank__title {
  grid-area: text;
}

.hackerrank__code {
  grid-area: code;
  -webkit-box-shadow: -1px 1px 35px -12px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -1px 1px 35px -12px rgba(0, 0, 0, 0.75);
  box-shadow: -1px 1px 35px -12px rgba(0, 0, 0, 0.75);
}

@media (max-width: 800px) {
  .hackerranksols h1 {
    font-size: 0.8rem;
  }
  .hackerranksols__search {
    width: 80%;
  }
  .hackerranksols input {
    height: 7vh;
  }
}
