.home {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  color: var(--tertiary);
}

.content {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
}
.hero {
  grid-column: 2 / 8;
  min-height: 10vh;
  padding: 1rem;
  background: var(--secondary);
  font-size: 1rem;
  margin-top: 3rem;
  display: flex;
  justify-content: space-between;
}
#role {
  font-weight: 700;
  color: var(--flavor);
}

.filteredposts {
  grid-column: 2 / 22;
  margin-top: 4rem;
  width: 100%;
}

.posts {
  position: relative;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  width: 100%;
}
.filteredpost {
  min-height: 300px;
  min-width: 300px;
  max-width: 400px;
  scroll-snap-align: start;
  padding: 1rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border-radius: 10px;
  background: var(--secondary);
}
.filteredpost:hover {
  cursor: pointer;
}

#title {
  font-size: 1.4rem;
}
.filteredpost p {
  font-size: 1rem;
}

@media (max-width: 1100px) {
  .filteredposts {
    grid-column: 2 / 24;
  }
  .hero {
    grid-column: 2 / 12;
  }
}

@media (max-width: 800px) {
  .filteredposts {
    grid-column: 2 / 24;
  }
  .hero {
    grid-column: 2 / 16;
  }
}
