.ills {
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-columns: auto 50vw auto;
  grid-template-areas:
    ". . ."
    ". ills .";
}
.illslist {
  grid-area: ills;
  min-height: 70vh;
  padding: 0;
  list-style: none;
}

.illslist li {
  margin: 2rem 0rem;
}

@media (max-width: 800px) {
  .ills {
    grid-template-columns: auto 80vw auto;
  }
}
