.resume {
  display: grid;
  grid-template-columns: auto 50vw auto;
  grid-template-rows: 10vh auto;
  grid-template-areas: ". . ." ". texts .";
}

.resumecontent {
  grid-area: texts;
}

.textpart {
  font-size: 1.2rem;
}

.textparttitle {
  font-weight: 300;
  color: var(--reddish);
}

.techlist {
  list-style: none;
  padding: 0rem;
  display: flex;
  flex-wrap: wrap;
}

.techlist li {
  margin-right: 2rem;
}
.techlist li:last-child {
  margin-right: 0rem;
}

@media (max-width: 800px) {
  .techlist li {
    padding: 0.5rem 0rem;
  }
  .resume {
    grid-template-columns: auto 80vw auto;
  }
}
