.projects {
  display: grid;
  grid-template-rows: 10vh 20vh auto;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
    ". . ."
    ". filters ."
    ". projects .";
}

.filters {
  grid-area: filters;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.filters li {
  margin-right: 2rem;
  transition: all 0.5s ease;
}
.filters li:last-child {
  margin-right: 0rem;
}
.filters li:nth-child(even) {
  color: var(--green-sec);
}
.filters li:hover {
  transform: scale(1.05);
  cursor: pointer;
}
.allprojects {
  grid-area: projects;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
