.resume {
  display: grid;
  grid-template-rows: 10vh auto;
  grid-template-columns: 1fr 7fr 1fr;
  grid-template-areas:
    ". . ."
    ". text .";
  color: var(--flavor);
}

.textpart {
  grid-area: text;
}

.techlist {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}
.techlist li:nth-child(even) {
  color: var(--flavor5);
}
.techlist li {
  margin-right: 1rem;
}

.resumetextpart {
  position: relative;
  border: 1px solid var(--flavor5);
  padding: 1.5rem;
  margin: 1.5rem 0rem;
}

.resumetextpart::before {
  content: "";
  position: absolute;
  top: -1.2rem;
  left: 2%;
  background: var(--flavor5);
  color: var(--flavor2);
  padding: 0.7rem;
  width: max-content;
  font-size: 0.9rem;
}
#intro::before {
  content: "Introduction";
}
#techs::before {
  content: "Technologies";
}
#tools::before {
  content: "Tools";
}

@media (max-width: 800px) {
  .resume {
    font-size: 0.8rem;
    grid-template-columns: 1fr 16fr 1fr;
  }
}
