.tmi {
  display: grid;
  grid-template-rows: 10vh auto auto;
  grid-template-columns: auto 50vw auto;
  grid-template-areas:
    ". . ."
    "graph graph graph"
    ". spotify .";
  min-height: 90vh;
}

.chart {
  grid-area: graph;
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.chart__title {
  margin-bottom: 2rem;
}

.spotify {
  grid-area: spotify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
}
.toptrackstitle {
  margin-bottom: 2rem;
}

.spotify__profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spotify__profile p {
  margin: 2rem 2rem;
}
