.tmi {
  background: var(--primary);
  color: var(--secondary);
}

.chart {
  overflow: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}

.chart__title {
  margin-bottom: 2rem;
}

.spotify {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.1rem;
  border: 2px solid white;
}

.spotify__profile {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--secondary);
}

.spotify__profile p {
  margin: 2rem 2rem;
}
